<script setup>
const login = githubLogin;
const loginGoogle = googleLogin;
const user = await useGithubUser();

useMeta({
  title: "Discuss with Atinux",
});
</script>

<template>
  <AppContainer>
    <h1 class="text-4xl flex items-center gap-2">
      Discuss with Atinux <i class="inline-flex i-carbon-chat text-black" />
    </h1>
    <User v-if="user" :user="user" />
    <button v-else @click="login" class="border rounded px-2 py-1 bg-gray-900 text-white">
      Login with GitHub
    </button>
    <button @click="loginGoogle" class="border rounded px-2 py-1 bg-red-400 text-white">
      Login with Google
    </button>
    <NewMessage v-if="user" />
    <Messages v-if="user" />
  </AppContainer>
</template>
